body{
    background-color: aqua;
}

h2{
    text-align: center;
}

.jumbotron{
    background-color: #d6d6d6;
}

#formulario{
    text-align: center;
}

table{
    background-color: #c3c3c3;
}